* {
  margin: 0;
  padding: 0;
}
#box{
	border: 1px solid orange;
	/* margin-right: 200px; */
	height: 600px;
	/* width: 400px; */
	border: 1px solid orange;
	/* overflow: hidden; */
	/* overflow-x: auto; */
}
a {
  text-decoration: none;
  color:#721c24;
}
h1 {
  text-align: center;
  color:#333;
  margin: 20px 0;
 
}
table {
  margin:0 auto;
  width: 800px;
  /* /* border-collapse: collapse; */ */
  color:#004085;
}
th {
  padding: 92px;
  background: #cfe77e;
  
  /* font-size: 20px; */
  font-weight: 400;
}
td,th {
  border:1px solid #b8daff;
}
td {
  padding:10px;
  color:#666;
  text-align: center;
  font-size: 16px;
}
tbody tr {
  background: #fff;
}
tbody tr:hover {
  background: #e1ecf8;
}
.info {
  right: 0px;
  bottom: 0px;
  position: absolute;
  width: 900px;
  margin: 50px auto;
  text-align: center;
}
.info  input, .info select {
  width: 220px;
  height: 27px;
  outline: none;
  border-radius: 5px;
  border:1px solid #b8daff;
  padding-left: 5px;
  box-sizing: border-box;
  margin-right: 15px;
}
.info button {
  width: 60px;
  height: 27px;
  background-color: #004085;
  outline: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
/* .info .age {
  
} */
